<article class="card-deck" infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      alwaysCallback="true" 
      immediateCheck="true"> 


  <div class="card" *ngFor="let card of cards" >
    <div class="card-img-container">
      <img class="img-fluid" [src]="card.imageUrl" [alt]="card.name">
    </div>

    <div class="card-block">
      <div class="card-set"><i class="fas fa-chess-king"></i> {{card.set}}</div>
          <h2 >{{card.name}}</h2>
          <div class="card-author arrow_box-up">{{card.artist}}</div>
      </div>
  </div>
        
  <p>{{message}}</p>
</article>



