
<section class="card-deck container" infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      alwaysCallback="true" 
      immediateCheck="true"> 


  <article class="card" *ngFor="let card of cards" >
    <figure class="card-img-container">
      <img class="img-fluid" [src]="card.imageUrl" [alt]="card.name">
    </figure>

    <div class="card-block">
      <h4 class="card-set"><i aria-hidden="true" class="fas fa-chess-king"></i> {{card.set}}</h4>
          <h2>{{card.name}}</h2>
          <h3 class="card-author">{{card.artist}}</h3>
      </div>
  </article>
        
  <p class="message">{{message}}</p>
</section>





