
/*
  TODO: Break out scss file into partials
*/

// SCSS Variables
$font-family-serif: 'IM Fell English SC', serif;

$color-emphasis: #003636;
$color-neutral: #8d6708;
$color-white: #ffffff;

$gutter: .5rem;

// Mixins
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 992px) { @content ; }
 }
   @else if $point == tablet {
    @media (min-width: 768px) { @content ; }
 }
  @else if $point == phablet {
    @media (min-width: 576px)  { @content ; }
 }
}

// Resets
body {
 font-family: $font-family-serif;
 font-size: 16px;
 margin: 0;
 padding:0;
}

header {
  padding: $gutter;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @include breakpoint(phablet) {
    padding: $gutter;
  }
}

h1, h2 {
  font-family: $font-family-serif;
 }

h2 {
  font-size: 1.5rem;
  margin-top: 0;
  color: $color-neutral;
}

.message {
  display:block;
  width: 100%;
  color: $color-emphasis;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

//Cards
.card {
  text-align:center;
  margin: .5rem $gutter 1.5rem $gutter;
  position:relative;
  border: 1px solid $color-emphasis;
  width: 100%;

  @include breakpoint(tablet) {
    width: calc(100%/3);
  }
  @include breakpoint(desktop) {
    width: calc(100%/4);
  }

  &-deck {
    display:flex;
    justify-content: space-between;
     flex-wrap: wrap;
     align-items: stretch;
  }
  &-img-container {
    padding-top:.5rem;
     img {max-width: 100%;}
  }

  &-author {
    padding:.5rem;
    color: $color-emphasis;
    border-top: 1px solid $color-emphasis;
    display: inline-block;
  }

  &-set {
    color: $color-white;
    padding:.5rem;
    margin-bottom: 1rem;
    position: relative;
    background: $color-emphasis;
    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 54, 54, 0);
      border-top-color: $color-emphasis;
      border-width: 10px;
      margin-left: -10px;
    }
  }

}







